@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

body {
  margin: 100px 0;
  background: linear-gradient(to left, rgb(240, 240, 240), rgb(180, 180, 180));
  transition: 0.3s;
}

#index_card {
  /* only for card in index */
  text-align: center;
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  margin-top: 8%;
  margin-left: 18%;
  margin-right: 18%;
  transition: 0.3s;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
  padding-left: 3%;
  padding-right: 3%;
}

#index_card:hover,
#index_card:active,
#index_card.hover_effect,
.card:hover,
.card:active,
.card.hover_effect {
  background: rgba(198, 228, 248, 0.8);
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.4);
  transition: 1s;
}

#index_card:hover,
#index_card:active,
#index_card.hover_effect {
  backdrop-filter: blur(11px);
  margin-top: 8%;
}

#index_card.small_effect {
  backdrop-filter: blur(8px);
  margin-top: 10%;
}

.button_1.small_effect {
  width: 30%;
  height: 0px;
}

.card {
  /* for all cards except index  */
  transition: 0.3s;
  margin-top: 4%;
  margin-left: 18%;
  margin-right: 18%;
  background: rgba(250, 250, 250, 0.6);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 15px;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

/* Dark mode start */

body.dark_mode {
  background: linear-gradient(to left, rgb(6, 6, 6), rgb(50, 50, 50)) !important;
  color: rgb(255, 255, 255) !important;
}

body.dark_mode #index_card,
body.dark_mode .card,
body.dark_mode .project_card,
body.dark_mode .notes_card {
  background: rgba(110, 110, 110, 0.6) !important;
  color: rgb(255, 255, 255) !important;
}

body.dark_mode #index_card:hover,
body.dark_mode #index_card:active,
body.dark_mode #index_card.hover_effect,
body.dark_mode .card:hover,
body.dark_mode .card:active,
body.dark_mode .card.hover_effect,
body.dark_mode .project_card:hover,
body.dark_mode .notes_card:hover,
body.dark_mode .fixed_buttons button {
  background: rgba(128, 128, 128, 0.6) !important;
  color: rgb(255, 255, 255) !important;
}

body.dark_mode .button_1,
body.dark_mode .iconfont,
body.dark_mode .p_card_text,
body.dark_mode a.unified_link,
body.dark_mode footer {
  color: rgb(255, 255, 255) !important;
}

/* Dark mode end */

a {
  text-decoration: none;
}

a.unified_link {
  color: rgba(0, 0, 0);
}

.buttons {
  padding: 2%;
}

.button_1 {
  width: 0;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: hidden;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  width: 27%;
  height: 80px;
}

.button_1:hover,
.button_1:active {
  background-color: black;
  color: rgb(255, 255, 255);
  border: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 8px;
}

/* 
.button_2 {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
    width: 30%;
    height: 100px;
    margin: 1%;
}

.button_2:hover {
    background-color: black;
    color: rgb(255, 255, 255);
    border: solid;
    border-color: black;
    border-radius: 8px;
}

button:hover{
    border: solid;
    border-width:1px;
    border-color: black;
    border-radius: 8px;
} */

/*
  注意区分#favorite和.favorite
  id #favorite是index_card大图，class .favorite是每个card的小图
*/
#favorite,
.favorite {
  transition: 0.7s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}

.favorite {
  float: left;
  height: 72px;
  margin-top: -15px;
  margin-left: -15px;
}

/* 图片旋转效果 */
#index_card:hover #favorite,
#index_card:active #favorite {
  transform: rotate(360deg);
}

.card:hover .favorite,
.card:active .favorite {
  transform: rotate(360deg);
}

#favorite:hover,
#favorite:active,
.favorite:hover,
.favorite:active {
  transform: rotate(360deg);
}

#index_card:hover .button_1 {
  width: 27% !important;
  height: 80px !important;
}

.class_title {
  padding-left: 1%;
  padding-top: 1%;
  float: left;
}

.iconfont {
  color: #000;
  font-size: 25px !important;
}

progress {
  background: #000;
}

.p_card_t {
  padding-right: 1%;
  float: left;
  font-size: 20px;
  font-weight: 500;
  margin-top: -20px;
}

.p_card_content {
  margin-top: 1%;
  margin-left: 3%;
}

.project_card {
  overflow: hidden;
  padding: 1%;
  margin: 5%;
  background: rgba(250, 250, 250, 0.6);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(11px);
  border-radius: 15px;
  /* height: 150px; */
  transition: 0.3s;
}

.project_card:hover {
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.4);
  background: rgba(250, 250, 250, 0.8);
}

.p_card_p {
  padding-left: 4%;
  border-radius: 8px;
  width: 30%;
  margin: 1%;
  min-width: 105px;
  float: right;
  object-fit: fill;
}

.p_card_p_2 {
  display: none;
}

.p_card_text {
  font-weight: 450;
  color: rgb(51, 51, 51);
}

.p_all_text {
  /* text-overflow: ellipsis;
    white-space: nowrap; */
  padding-top: 10px;
  line-height: 20px;
  margin-left: 3%;
  margin-bottom: 3%;
}

.notes_card {
  /* box-sizing: border-box; */
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 3%;
  width: 25vw;
  background: rgba(250, 250, 250, 0.6);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: inline-block;
  transition: 0.3s;
}

.notes_card:hover {
  box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.4);
  background: rgba(250, 250, 250, 0.8);
}

.card_img {
  height: 160px;
  overflow: hidden;
  border-radius: 10px;
  margin: 2.5px;
  background-position: center;
  background-size: 100% 100%;
}

.card_u {
  padding-top: 10px;
  height: 45px;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-left: 10px;
}

footer {
  transition: 0.3s;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 5%;
  color: rgb(51, 51, 51);
}

.p_card_tag {
  border-radius: 5px;
  color: rgb(255, 255, 255);
  float: left;
  font-size: 15px;
  font-weight: 450;
  margin-right: 5px;
  margin-bottom: 8px;
}

.p_card_tag.blue1 {
  background: #0470b9 !important;
  background-color: #0470b9;
}

.p_card_tag.blue2 {
  background: #3a90ca !important;
  background-color: #3a90ca;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.dialog_box {
  position: relative;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
}

.fixed_buttons {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 9999;
}
.fixed_buttons button {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50%;
  background-color: rgb(204, 204, 204);
  font-size: 18px;
}
.fixed_buttons button:first-child {
  margin-bottom: 0;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #d4d4d4;
}

*::-webkit-scrollbar-thumb :hover {
  background-color: #b3b3b3;
}

@media (max-width: 1000px) {
  #index_card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4) !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  #index_card:hover,
  #index_card:active,
  #index_card.hover_effect {
    backdrop-filter: blur(11px) !important;
    box-shadow: 0px 0px 32px 0 rgba(0, 0, 0, 0.4) !important;
  }

  .card {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4) !important;
    margin-top: 12% !important;
    margin-left: 5% !important;
    margin-right: 5% !important;
  }

  .button_1 {
    width: 27% !important;
    height: 80px !important;
  }

  /* .project_card {
    height: 30%;
  } */

  .notes_card {
    width: 38vw;
    margin-bottom: 8% !important;
  }

  .p_card_tag {
    margin: 1% !important;
    float: left;
  }

  .content {
    overflow: scroll !important;
  }

  iframe {
    overflow: scroll !important;
  }

  footer {
    margin-top: 1% !important;
  }
}

/* 屏幕宽度大于800px时，in_line内project_card一行两个 */
@media (min-width: 800px) {
  .in_line {
    display: grid;
    grid-gap: 1%; /* 在卡片之间提供间距 */
    align-content: start;
    grid-template-columns: 1fr 1fr; /* 每行有两个卡片 */
  }
  .project_card {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}

@media (max-width: 363px) {
  .p_card_p {
    display: none;
  }

  .p_card_t {
    margin-top: -10px !important;
    margin-left: 3%;
  }

  .p_card_text {
    padding: 3%;
    float: left;
    padding-right: 1%;
  }
  .p_card_p_2 {
    display: block;
    height: 160px;
    overflow: hidden;
    border-radius: 10px;
    margin: 5%;
    background-position: center;
    background-size: 100% 100%;
  }
}
